.searchHeader {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	.containerHeader {
		position: relative;
		width: 100%;
		min-height: 250px;
		max-height: 360px;
		.containerPicture {
			background: #ea4c89;
			display: flex;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			justify-content: center;
			width: 100%;
			.picture {
				object-fit: cover;
			}
		}
	}

	.containerText {
		position: absolute;
		top: 50%;
		left: 50%;
		color: #fff;
		text-align: center;
		transform: translate(-50%, -50%);
		h1 {
			font-size: 48px;
			font-weight: 700;
			line-height: 56px;
		}
		p {
			font-size: 20px;
			font-weight: 400;
			line-height: 32px;
		}
	}
	.containerResult {
		.inputSearch {
			height: 100%;
			width: 100%;
			max-width: 628px;
			margin: 0 auto;
			transform: translateY(-50%);
			.input {
				display: flex;
				position: relative;
				align-items: center;
				padding-left: 28px;
				height: 64px;
				border-radius: 8px;
				background: #fff;
				box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
				input {
					height: 100%;
					padding: 0;
					border: 1px solid transparent;
					padding-right: 24px;
					padding-left: 24px;
					background: #fff;
					background: transparent;
					font-size: 16px;
					&:focus {
						outline: none;
					}
				}
			}
		}
	}
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
